<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">SeatYourSelf
          </div>
          
              <div class="navbar-collapse collapse" id="navbar-main">
                  <ul class="nav navbar-nav">
                      <li><%= link_to_unless_current('Home', root_path) {  link_to('Home', root_path, class: 'active') } %></li>
                     <li><%= link_to_unless_current('Restaurants', root_path) {  link_to('Restaurants', root_path, class: 'active') } %></li>
                     <li><% if flash[:notice] %>
					  					<p id="notice"><%= flash[:notice] %></p>
														<% end %>
														    
														<% if flash[:alert] %>
														  <p id="alert"><%= flash[:alert] %></p>
														<% end %></li>
                  </ul>
                  <% if current_user %>
                  <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to_unless_current('My Reservations', root_path(current_user.id)) {  link_to('My Reservations', root_path(current_user.id), class: 'active' ) } %></li>
                  </ul>
                    <p class="navbar-text navbar-right">Signed in as <%= current_user.first_name %> <%= link_to "Log out", session_path("current"), :method => :delete %></p>
                  <% else %>
                    <%= form_tag "/sessions", method: "POST", class: "navbar-form navbar-right" do |f| %>
                        <div class="form-group">
                            <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email" %>
                        </div>
                        <div class="form-group">
                            <%= password_field_tag :password, "", class: "form-control", placeholder: "Password" %>
                        </div>
              
                        <%= submit_tag "Log in", class: "btn btn-default" %>            

                        <a href="/users/new">Sign Up</a>

                    <% end %>
                  <% end %>
                  </form>
              </div>
          </center>
      </div>
  </div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
